In [2]:
import pandas as pd
import numpy as np

In [3]:
f = open("DATOS_PROGRAMA1.txt", "r")
lineas = f.readlines()
f.close()

tx=[]    

for lin in lineas:
    tx.append(lin.rstrip('\n'))
    

with open('deltas.txt', 'w') as temp_file:
    for item in tx[2:]:
        temp_file.write("%s\n" % item)

with open('coord.txt', 'w') as temp_file:
    for item in tx[0:2]:
        temp_file.write("%s\n" % item)

In [4]:
def ini_df():
    df = pd.read_csv(
        'deltas.txt', sep=" ",header=None, names=['DELTA', 'DISTANCIA_INC', 'HORIZONTAL','VERTICAL','E','AI','AP'])
    return df
def ini_df_coor():
    df = pd.read_csv(
        'coord.txt', sep=" ",header=None, names=['DELTA', 'x', 'y','z'])
    return df


ini_df()

    DELTA  DISTANCIA_INC  HORIZONTAL  VERTICAL    E    AI    AP
0  DELTA1          61.35     22.3125   88.3936  0.0  1.41  0.15
1    LIB1          38.72    120.0419   87.0224  0.0  1.44  1.50
2    LIB2          87.49     37.2415   92.5336  0.0  1.46  1.50

In [17]:
#CONVERTIR GMS A DEC
def conv_gms_dd(gms):
    
    dd=float(gms[0])+float(gms[1])/60+float(gms[2])/(60*60);
    return dd
def dd2dms(deg):
    d=int(deg)
    md= abs(deg-d)*60
    m=int(md)
    sd=(md-m)*60
    return [d,m,round(sd,4)]

def parse_dms(dms):
    return (str(dms[0])+ " &deg; " +str(dms[1])+ "\' " + str((dms[2]))+'"')

#TOMA TRES COLUMNA DE GRADOS MINUTOS SEGUNDOS DEL DATAFRAME Y CREA COLUMNA CONCATENAR Y DECIMAL
def conv_g_m_s_df(data):
    
    a = df [data].astype(str)
    b=a.str.split('.',expand=True)
    c=b.rename(columns={0:'grad', 1:'min'})
    new_c=c.assign(seg=0)

    l1=c['min'].tolist()
    l_min=[]
    l_seg=[]

    for elemento in l1:
        elemento1=elemento[:2]
        elemento2=elemento[2:]
        l_min.append(elemento1)
        l_seg.append(elemento2)

    new_c['min']=(l_min)
    new_c['seg']=(l_seg)
    new_c.astype(int)
    new_c['conc']=new_c.apply(parse_dms, axis = 1)
    new_c['decimal']=new_c.apply(conv_gms_dd, axis = 1)
    return new_c
    
def error_horizontal(df):
    puntos = len(df.index)
    ideal=180*(puntos-2)
    error=ideal-df["HORIZONTAL"].sum()
    return error

def correccion_horizontal(df):
    return df["HORIZONTAL"]+(error_hor/len(df.index))
def escribirgms_hor_corr(df):
    return parse_dms(dd2dms(df['HOR_CORR']))
def escribirgms_hor(df):
    return parse_dms(dd2dms(df['HORIZONTAL']))
def azimut_i(d):
    x=(d.iat[0,1]-d.iat[1,1])
    y=(d.iat[0,2]-d.iat[1,2])
    acimut_i=np.degrees(np.abs(np.arctan((x)/(y))))
    return acimut_i+90
def list_azim(list_ang_hor,az_1):
    azt=[]
    azt.append(az_1)
    for i in range(len(l_ho)-1):
        if((list_ang_hor[i+1]+azt[i])>180):
            if((list_ang_hor[i+1]+azt[i]-180)>360):
                azt.append(list_ang_hor[i+1]+azt[i]-180-360)
            else:
                azt.append(list_ang_hor[i+1]+azt[i]-180)
        else:
            azt.append(list_ang_hor[i+1]+azt[i]+180)
    return azt
def escribir_az(df):
    return parse_dms(dd2dms(df['AZIMUT']))
def escribir_vertical(df):
    return parse_dms(dd2dms(df['VERTICAL']))
ini_df()
def coor_parciales_x(lista_az,lista_dist):
    j=0
    l_x=[]
    for i in lista_az:
        l_x.append(lista_dist[j]*np.sin(np.radians(i)))
        j+=1
    return l_x

def coor_parciales_y(lista_az,lista_dist):
    j=0
    l_y=[]
    for i in lista_az:
        l_y.append(lista_dist[j]*np.cos(np.radians(i)))
        j+=1
    return l_y

#compensacion errores lineales es la misma formula para x e y
def comp(coor_par,perim,longitud):
    compen_x=[]
    for i in longitud:
        compen_x.append(-1*((coor_par)/(perim)*i))
    return compen_x
def escribir_coor_p_c_X(df):
    return df['COOR_PAR_X']+df['COMP_X']
def escribir_coor_p_c_Y(df):
    return df['COOR_PAR_Y']+df['COMP_Y']
def diferencia_altura_coori_coorf(coor_i,ai,alt,ap):
    j=0
    l_cot=[]
    l_cot.append(coor_i)
    for i in alt:
        l_cot.append(l_cot[j]+ai[j]+(i-ap[j]))
        j+=1
    return l_cot
def alturas(ver,dis):
    j=0
    l_alt=[]
    for i in dis:
        l_alt.append((np.sin(np.radians(90-ver[j]))*i))
        j+=1
    return l_alt
def coor_absolutas_x(coor_i_x,coor_p):
    j=0
    l_abs_x=[]
    l_abs_x.append(coor_i_x)
    for i in coor_p:
        l_abs_x.append(l_abs_x[j]+i)
        j+=1
    return l_abs_x
def alt_corr(long,dif_alt_total,perim):
    l_alt_corr=[]
    for i in long:
        l_alt_corr.append(i*dif_alt_total/perim)
    return l_alt_corr
def ang_vert_corr(alt_c,dist_inc):
    j=0
    l_v_c=[]
    for i in dist_inc:
        l_v_c.append(np.degrees(np.arcsin(alt_c[j]/i)))
        j+=1
    return l_v_c
def dist_hor(ang_ver,dis_inc):
    l_d_hor=[]
    j=0
    for i in dis_inc:
        l_d_hor.append((np.cos(np.radians(90-ang_ver[j]))*i))
        j+=1
    return l_d_hor
def escribir_vertical_corr(df):
    return parse_dms(dd2dms(df["ANG_VERT_CORR"]))
def lista_lados(lados):
    j=0
    l_lados=[]
    for i in lados:
        if (j==(len(lados)-1)):
            l_lados.append(i+"->"+lados[0])
        else:
            l_lados.append(i+"->"+lados[j+1])
        j+=1
    return l_lados

In [18]:
df=ini_df()    
df_new_H=df
df_new_H['HORIZONTAL'] = conv_g_m_s_df("HORIZONTAL")['decimal']
df_new_H["HOR_E"]= df_new_H.apply(escribirgms_hor, axis=1)
df_new_H['VERTICAL'] = conv_g_m_s_df("VERTICAL")['decimal']
error_hor=error_horizontal(df_new_H)

df_new_H["HOR_CORR"]= df_new_H["HORIZONTAL"]+(error_hor/len(df.index))
df_new_H["HOR_CORR_E"]= df_new_H.apply(escribirgms_hor_corr, axis=1)


df_coor=ini_df_coor()
az=azimut_i(df_coor)


l_ho=df_new_H["HOR_CORR"].tolist()
l_az=list_azim(l_ho,az)
df_new_H["AZIMUT"]=l_az
df_new_H["AZM_E"]= df_new_H.apply(escribir_az, axis=1)
df_new_H["VERT_E"]= df_new_H.apply(escribir_vertical, axis=1)

l_dis=df_new_H["DISTANCIA_INC"].tolist()
perimetro=df_new_H["DISTANCIA_INC"].sum()

l_ver=df_new_H["VERTICAL"].tolist()
ai=df_new_H["AI"].tolist()
ap=df_new_H["AP"].tolist()

l_alt=(alturas(l_ver,l_dis))
l_cot=diferencia_altura_coori_coorf(df_coor.iat[0,3],ai,l_alt,ap)
l_cot_sin_ult=diferencia_altura_coori_coorf(df_coor.iat[0,3],ai,l_alt,ap)
l_cot_sin_ult.pop()
l_cot_sin_ult
df_new_H["COTAS"]=l_cot_sin_ult
dif_alt=l_cot[0]-l_cot[-1]
corr_alt=(alt_corr(l_dis,dif_alt,perimetro))
l_alt_c=(list(np.array(l_alt) + np.array(corr_alt)))
l_cot_corr=diferencia_altura_coori_coorf(df_coor.iat[0,3],ai,l_alt_c,ap)
  
l_ang_ver_corr=(90-np.array(ang_vert_corr(l_alt_c,l_dis)))
df_new_H["ANG_VERT_CORR"]=(l_ang_ver_corr)
df_new_H["ANG_VERT_CORR_E"]=df_new_H.apply(escribir_vertical_corr, axis=1)

l_d_hor=(dist_hor(l_ang_ver_corr,l_dis))
df_new_H["DIST_HOR"]=(l_d_hor)


corp_x=coor_parciales_x(l_az,l_d_hor)
corp_y=coor_parciales_y(l_az,l_d_hor)
df_new_H["COOR_PAR_X"]=corp_x
df_new_H["COOR_PAR_Y"]=corp_y

par_x=df_new_H["COOR_PAR_X"].sum()
par_y=df_new_H["COOR_PAR_Y"].sum()
c_x=comp(par_x,perimetro,l_d_hor)
c_y=comp(par_y,perimetro,l_d_hor)
df_new_H["COMP_X"]=c_x
df_new_H["COMP_Y"]=c_y


df_new_H["COR_COMP_X"]= df_new_H.apply(escribir_coor_p_c_X, axis=1)
df_new_H["COR_COMP_Y"]= df_new_H.apply(escribir_coor_p_c_Y, axis=1)

df_new_H
cor_abs_nort=(coor_absolutas_x(df_coor.iat[0,1],df_new_H["COR_COMP_Y"]))
cor_abs_este=(coor_absolutas_x(df_coor.iat[0,2],df_new_H["COR_COMP_X"]))
cor_abs_alt=(l_cot_corr)

cor_n=coor_absolutas_x(df_coor.iat[0,1],df_new_H["COOR_PAR_Y"])
cor_e=coor_absolutas_x(df_coor.iat[0,2],df_new_H["COOR_PAR_X"])
cor_l=(l_cot)
lado1=df_new_H['DELTA'].tolist()
lado1.append(lado1[0])
l_vertices=lado1

df_coor_abs_corr = pd.DataFrame(list(zip(l_vertices,cor_n,cor_e,cor_l,cor_abs_nort,cor_abs_este,cor_abs_alt)), columns = ['Punto','Norte','Este','Altura','Norte_c','Este_c','Altura_c'])
lado=df_new_H['DELTA'].tolist()

df_new_H['DELTA']=lista_lados(lado)
(df_coor_abs_corr)

,Punto,Norte,Este,Altura,Norte_c,Este_c,Altura_c
0,DELTA1,90018.408000,96883.295000,2769.920000,90018.408000,96883.295000,2769.920000
1,LIB1,90000.779036,96942.041467,2772.614687,90000.780823,96942.041208,2772.556487
2,LIB2,90027.262541,96970.219652,2774.554140,90027.265455,96970.219230,2774.459208
3,DELTA1,90018.402535,96883.295792,2770.097931,90018.407995,96883.295001,2769.920000

In [19]:
df_fin=df_new_H[['DELTA','HOR_E','HOR_CORR_E','VERT_E',"ANG_VERT_CORR_E",'AZM_E','DISTANCIA_INC',"DIST_HOR",'COOR_PAR_X','COOR_PAR_Y','COMP_X','COMP_Y','COR_COMP_X','COR_COMP_Y']]
df_fin.columns=['VERTICES', 'ANGULO HZ', 'ANGULO HZ CORREGIDO', 'ANGULO VERTICAL', 'ANGULO VERTICAL CORREGIDO', 'AZIMUT',
       'DISTANCIA INCLINADA', 'DISTANCIA HORIZONTAL', 'PROY-X', 'PROY-C', 'COR-X',
       'COR-Y', 'PROY_X', 'PROY_Y']

df_fin
df_coor_abs_corr

,Punto,Norte,Este,Altura,Norte_c,Este_c,Altura_c
0,DELTA1,90018.408000,96883.295000,2769.920000,90018.408000,96883.295000,2769.920000
1,LIB1,90000.779036,96942.041467,2772.614687,90000.780823,96942.041208,2772.556487
2,LIB2,90027.262541,96970.219652,2774.554140,90027.265455,96970.219230,2774.459208
3,DELTA1,90018.402535,96883.295792,2770.097931,90018.407995,96883.295001,2769.920000

In [20]:
f = open('pandas.html','w')
result = '<link href="style.css" rel="stylesheet" type="text/css">\n '+df_fin.to_html()+df_coor_abs_corr.to_html()

f.write(result)
f.close()