In [1]:
import pandas as pd

In [12]:
df = pd.read_csv(
    'DATOS PROCESADOS.txt', sep=" ",header=None)
df

        0        1    2   3   4   5   6   7
0  DELTA1  61.3460   22  31  25  88  39  60
1    LIB1  38.6711  120   4  19  87   6  11
2    LIB2  87.5691   37  24  15  92  55   7

In [13]:
html = df.to_html();
f = open('pandas.html','w')
result = df.to_html()

f.write(result)
f.close()

ModuleNotFoundError: No module named 'pdfkit'