In [1]:
import pandas as pd
import numpy as np

In [2]:
def ini_df():
    df = pd.read_csv(
        'DATOS PROGRAMA.txt', sep=" ",header=None, names=['DELTA', 'DISTANCIA', 'HORIZONTAL','VERTICAL','E','AI','AP'])
    return df

In [6]:
#CONVERTIR GMS A DEC
def conv_gms_dd(gms):
    
    dd=float(gms[0])+float(gms[1])/60+float(gms[2])/(60*60);
    return dd
def dd2dms(deg):
    d=int(deg)
    md= abs(deg-d)*60
    m=int(md)
    sd=(md-m)*60
    return [d,m,sd]

def parse_dms(dms):
    return (str(dms[0])+ "\u00b0 " +str(dms[1])+ "\' " + str(dms[2])+'"')

#TOMA TRES COLUMNA DE GRADOS MINUTOS SEGUNDOS DEL DATAFRAME Y CREA COLUMNA CONCATENAR Y DECIMAL
def conv_g_m_s_df(data):
    
    a = df [data].astype(str)
    b=a.str.split('.',expand=True)
    c=b.rename(columns={0:'grad', 1:'min'})
    new_c=c.assign(seg=0)

    l1=c['min'].tolist()
    l_min=[]
    l_seg=[]

    for elemento in l1:
        elemento1=elemento[:len(elemento)//2]
        elemento2=elemento[len(elemento)//2:]
        l_min.append(elemento1)
        l_seg.append(elemento2)

    new_c['min']=(l_min)
    new_c['seg']=(l_seg)
    new_c.astype(int)
    new_c['conc']=new_c.apply(parse_dms, axis = 1)
    new_c['decimal']=new_c.apply(conv_gms_dd, axis = 1)
    return new_c
    
def error_horizontal(df):
    puntos = len(df.index)
    ideal=180*(puntos-2)
    error=ideal-df["HORIZONTAL"].sum()
    return error

def correccion_horizontal(df):
    return df["HORIZONTAL"]+(error_hor/len(df.index))
def escribirgms_hor_corr(df):
    return parse_dms(dd2dms(df[8]))
def escribirgms_hor(df):
    return parse_dms(dd2dms(df[2]))
    

ini_df()

    DELTA  DISTANCIA  HORIZONTAL  VERTICAL    E    AI    AP
0  DELTA1      61.35     22.3125   88.3936  0.0  1.41  0.15
1    LIB1      38.72    120.0419   87.0224  0.0  1.44  1.50
2    LIB2      87.49     37.2415   92.5336  0.0  1.46  1.50

In [5]:
df=ini_df()    
df_new_H=df
df_new_H['HORIZONTAL'] = conv_g_m_s_df("HORIZONTAL")['decimal']
df_new_H["HOR_E"]= df_new_H.apply(escribirgms_hor, axis=1)
df_new_H['VERTICAL'] = conv_g_m_s_df("VERTICAL")['decimal']
error_hor=error_horizontal(df_new_H)

df_new_H["HOR_CORR"]= df_new_H["HORIZONTAL"]+(error_hor/len(df.index))
df_new_H["HOR_CORR_E"]= df_new_H.apply(escribirgms_hor_corr, axis=1)
df_new_H

,DELTA,DISTANCIA,HORIZONTAL,VERTICAL,E,AI,AP,HOR_E,HOR_CORR,HOR_CORR_E
0,DELTA1,61.35,22.523611,88.660000,0.0,1.41,0.15,"22° 31' 24.999999999990905""",22.523704,"22° 31' 25.33333333331683"""
1,LIB1,38.72,120.071944,87.040000,0.0,1.44,1.50,"120° 4' 18.99999999998613""",120.072037,"120° 4' 19.333333333324845"""
2,LIB2,87.49,37.404167,92.893333,0.0,1.46,1.50,"37° 24' 15.000000000006821""",37.404259,"37° 24' 15.333333333319956"""

In [ ]:
html = df.to_html();
f = open('pandas.html','w')
result = df.to_html()

f.write(result)
f.close()